/* setting iniziale pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /setting iniziale pagina */

/* common */
body{
    background-color: rgba(128,128,128, 0.3);
}
/* /common */

/* header */

#logo{

    height: 80px;
    vertical-align: middle;
}

.header-box{    
    
    background-color: white;
    height: 100px;
    
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;

    
}


/* /header */

/* main */

main{

    width: 80%;
    margin: 0 auto;
}

.barra-aggiunta{
    margin-top: 60px;
    height: 60px;
    background-color: white;
}

#bottone-blu{
    width: 100px;
    height: 30px;
    margin: 15px 0px 15px 80px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

#bottone-bianco{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: lightgray solid 2px;
    color: lightgrey;
}

/* /main */
