/* setting iniziale pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /setting iniziale pagina */

/* common */
body{
    background-color: rgba(128,128,128, 0.3);
}
/* /common */

/* header */


/* /header */

/* main */



/* /main */
